<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" />
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Wettkampf App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true">
  @if (isLocked) {
    <ion-list>
      <ion-item>
        <ion-label>{{competitionName()}}</ion-label>
      </ion-item>
      <ion-item>
        @if (durchgang && geraet) {
          <ion-label>
            {{durchgang}}, {{geraetName()}}
          </ion-label>
        }
      </ion-item>
      <ion-item-sliding #slidingStepItem>
        <ion-item (click)='itemTapped(slidingStepItem)'>
          <ion-label>{{(geraet && getSteps()) ? "Riege (" + getSteps()[0] + " bis " + getSteps()[getSteps().length-1] + ")" : "Keine Daten"}}</ion-label>
          @if ((geraet && getSteps() && getSteps().length > 0)) {
            <ion-note slot="end">
              {{"Riege " + step}}
            </ion-note>
          }
          @if ((geraet && getSteps())) {
            <ion-icon slot="end" name="arrow-forward-circle-outline" />
          }
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="secondary" (click)="prevStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
            <ion-icon name="arrow-back-circle-outline" />
            Vorherige Riege
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="secondary" (click)="nextStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
            <ion-icon name="arrow-forward-circle-outline" />
            Nächste Riege
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  }
  @if (!isLocked) {
    <ion-list>
      <ion-item>
        @if (getCompetitions()) {
          <ion-select label="Wettkampf" placeholder='Bitte auswählen' [(ngModel)]='competition' okText='Okay' cancelText='Abbrechen'>
            @for (comp of getCompetitions(); track comp) {
              <ion-select-option [value]='comp.uuid'>
              {{comp.titel + ' ' + (comp.datum | date:'dd-MM-yy')}}</ion-select-option>
            }
          </ion-select>
        }
      </ion-item>
      <ion-item>
        @if (competition && getDurchgaenge() && getDurchgaenge().length > 0) {
          <ion-select label='Durchgang' placeholder='Bitte auswählen' [(ngModel)]='durchgang'
            okText='Okay' cancelText='Abbrechen'>
            @for (d of getDurchgaenge(); track d) {
              <ion-select-option [value]='d'>{{d}}</ion-select-option>
            }
          </ion-select>
        }
      </ion-item>
      <ion-item>
        @if (durchgang && getGeraete() && getGeraete().length > 0) {
          <ion-select label='Gerät' placeholder='Bitte auswählen' [(ngModel)]='geraet' okText='Okay'
            cancelText='Abbrechen'>
            @for (g of getGeraete(); track g) {
              <ion-select-option [value]='g.id'>{{g.name}}</ion-select-option>
            }
          </ion-select>
        }
      </ion-item>
      <ion-item-sliding #slidingStepItem>
        <!-- <ion-item>
        <ion-range *ngIf="geraet && getSteps()" [(ngModel)]="step" pin="true" [min]="1" [max]="getSteps().length"
          [step]="1" [snaps]="true" color="secondary">
          <ion-label slot="start" class="small-text">Riege 1</ion-label>
          <ion-label slot="end" class="small-text">{{getSteps().length}}</ion-label>
        </ion-range>Riege {{step}}
      </ion-item> -->
      <ion-item (click)='itemTapped(slidingStepItem)'>
        <ion-label>{{(geraet && getSteps()) ? "Riege (" + getSteps()[0] + " bis " + getSteps()[getSteps().length-1] + ")" : "Keine Daten"}}</ion-label>
        @if ((geraet && getSteps() && getSteps().length > 0)) {
          <ion-note slot="end">
            {{"Riege " + step}}
          </ion-note>
        }
        @if ((geraet && getSteps())) {
          <ion-icon slot="end" name="arrow-forward-circle-outline" />
        }
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="prevStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
          Vorherige Riege
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="nextStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
          Nächste Riege
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
}
<ion-list>
  @if (!isLoggedIn) {
    <ion-button size="large" expand="block" color="primary" (click)="navToStation()"
      [disabled]="!(geraet && getSteps())">
      <ion-icon slot="start" name="list" />
      Resultate
    </ion-button>
  }
  @if (isLoggedIn) {
    <ion-button size="large" expand="block" color="primary" (click)="navToStation()"
      [disabled]="!(geraet && getSteps())">
      <ion-icon slot="start" name="create" />
      Resultate
    </ion-button>
  }
</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    @if (isLocked) {
      <ion-list>
        <ion-button size="large" expand="block" color="warning" (click)="unlock()">
          <ion-icon slot="start" name="unlock" />Einstellung zurücksetzen
        </ion-button>
      </ion-list>
    }
    @if (isLoggedIn) {
      <ion-list>
        <!-- <ion-button *ngIf="isLoggedIn && isOpenAndActive" size="large" expand="block" color="success" (click)="finish()"
        [disabled]="!(geraet && getSteps())">
        <ion-icon slot="start" name="git-commit"></ion-icon>Eingaben abschliessen
      </ion-button> -->
      <ion-button size="large" expand="block" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out" />Abmelden
      </ion-button>
    </ion-list>
  }
</ion-toolbar>
</ion-footer>
