<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Wettkampf App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="isLocked">
    <ion-item>
      <ion-label>{{competitionName()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="durchgang && geraet">
        {{durchgang}}, {{geraetName()}}
      </ion-label>
    </ion-item>
    <ion-item-sliding #slidingStepItem>
      <ion-item (click)='itemTapped(slidingStepItem)'>
        <ion-label>{{(geraet && getSteps()) ? "Riege (" + getSteps()[0] + " bis " + getSteps()[getSteps().length-1] + ")" : "Keine Daten"}}</ion-label>
        <ion-note slot="end" *ngIf="(geraet && getSteps() && getSteps().length > 0)">
          {{"Riege " + step}}
        </ion-note>
        <ion-icon slot="end" *ngIf="(geraet && getSteps())" name="arrow-dropright"></ion-icon>
      </ion-item>     
        <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="prevStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
          <ion-icon name="arrow-dropleft-circle" ios="md-arrow-dropleft-circle"></ion-icon>
          Vorherige Riege
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="nextStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
          <ion-icon name="arrow-dropright-circle" ios="md-arrow-dropright-circle"></ion-icon>
          Nächste Riege
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="!isLocked">
    <ion-item>
      <ion-label>Wettkampf</ion-label>
      <ion-select placeholder='Bitte auswählen' *ngIf="getCompetitions()" [(ngModel)]='competition' okText='Okay' cancelText='Abbrechen'>
        <ion-select-option *ngFor='let comp of getCompetitions()' [value]='comp.uuid'>
          {{comp.titel + ' ' + (comp.datum | date:'dd-MM-yy')}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Durchgang</ion-label>
      <ion-select placeholder='Bitte auswählen' *ngIf="competition && getDurchgaenge() && getDurchgaenge().length > 0" [(ngModel)]='durchgang'
        okText='Okay' cancelText='Abbrechen'>
        <ion-select-option *ngFor='let d of getDurchgaenge()' [value]='d'>{{d}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Gerät</ion-label>
      <ion-select placeholder='Bitte auswählen' *ngIf="durchgang && getGeraete() && getGeraete().length > 0" [(ngModel)]='geraet' okText='Okay'
        cancelText='Abbrechen'>
        <ion-select-option *ngFor='let g of getGeraete()' [value]='g.id'>{{g.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-sliding #slidingStepItem>
      <!-- <ion-item>
        <ion-range *ngIf="geraet && getSteps()" [(ngModel)]="step" pin="true" [min]="1" [max]="getSteps().length"
          [step]="1" [snaps]="true" color="secondary">
          <ion-label slot="start" class="small-text">Riege 1</ion-label>
          <ion-label slot="end" class="small-text">{{getSteps().length}}</ion-label>
        </ion-range>Riege {{step}}        
      </ion-item> -->
      <ion-item (click)='itemTapped(slidingStepItem)'>
        <ion-label>{{(geraet && getSteps()) ? "Riege (" + getSteps()[0] + " bis " + getSteps()[getSteps().length-1] + ")" : "Keine Daten"}}</ion-label>
        <ion-note slot="end" *ngIf="(geraet && getSteps() && getSteps().length > 0)">
          {{"Riege " + step}}
        </ion-note>
        <ion-icon slot="end" *ngIf="(geraet && getSteps())" name="arrow-dropright"></ion-icon>
      </ion-item>     
        <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="prevStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
          <ion-icon name="arrow-dropleft-circle" ios="md-arrow-dropleft-circle"></ion-icon>
          Vorherige Riege
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="nextStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
          <ion-icon name="arrow-dropright-circle" ios="md-arrow-dropright-circle"></ion-icon>
          Nächste Riege
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-button *ngIf="!isLoggedIn" size="large" expand="block" color="primary" (click)="navToStation()"
      [disabled]="!(geraet && getSteps())">
      <ion-icon slot="start" name="list"></ion-icon>
      Resultate
    </ion-button>
    <ion-button *ngIf="isLoggedIn" size="large" expand="block" color="primary" (click)="navToStation()"
      [disabled]="!(geraet && getSteps())">
      <ion-icon slot="start" name="create"></ion-icon>
      Resultate
    </ion-button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list *ngIf="isLocked">
      <ion-button size="large" expand="block" color="warning" (click)="unlock()">
        <ion-icon slot="start" name="unlock"></ion-icon>Einstellung zurücksetzen
      </ion-button>
    </ion-list>
    <ion-list *ngIf="isLoggedIn">
      <!-- <ion-button *ngIf="isLoggedIn && isOpenAndActive" size="large" expand="block" color="success" (click)="finish()"
        [disabled]="!(geraet && getSteps())">
        <ion-icon slot="start" name="git-commit"></ion-icon>Eingaben abschliessen
      </ion-button> -->
      <ion-button size="large" expand="block" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon>Abmelden
      </ion-button>
    </ion-list>
  </ion-toolbar>
</ion-footer>