<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>

    <ion-title>{{geraetName()}}</ion-title>
    <ion-note slot="end"><div class="athlet">{{item.vorname + ' ' + item.name}}</div><div class="riege">{{wertung.riege}}</div></ion-note>
  </ion-toolbar>

</ion-header>

<ion-content>
    @if (isNetworkMediaPlayerAvailable && item.wertung?.mediafile) {
      <ion-item>
        <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
        <ion-button size="large" [disabled]="waiting || mediaButtonDisabled || currentMediaButtonDisabled"  color="primary" (click)='currentMediaAction()'>
        <ion-icon slot="start" [attr.name]='currentMediaButtonIcon' />{{currentMediaButtonText}}</ion-button>
        <ion-button slot="end" size="large" [disabled]="waiting || mediaButtonDisabled || currentMediaReleaseButtonDisabled"  color="danger" (click)='releaseMusic()'>
        <ion-icon name="power-outline"></ion-icon></ion-button>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"/>
        <ion-note>
          {{currentMediaState}}
        </ion-note>
      </ion-item>
    }
    <form #wertungsform="ngForm" (ngSubmit)="saveNext(wertungsform)" (keyup.enter)="saveNext(wertungsform)">
    @for (exercice of exercices; track exercice; let block = $index) {
      <ion-list>
        <ion-item-divider><h2>{{block +1}}. Übung</h2></ion-item-divider>
        @for (wertung of exercice; track wertung) {
          <app-wertung-avg-calc [name]='wertung.name+wertung.index' [waiting]="waiting"
            [valueTitle]="wertung.name" [fixed]="wertung.scale" [ngModel]="wertung.value" (ngModelChange)="updateVariable($event, wertung)" [disabled]="!editable()" />
        }
      </ion-list>
    }
    @if (exercices.length > 0) {
      <ion-list>
        <ion-item-divider><h2>Endnote</h2></ion-item-divider>
        @if (isDNoteUsed) {
          <ion-item>
            <ion-input [label]='dNoteLabel' [ngModel]='wertung.noteD' type="number" readonly name="dEndnote" [disabled]="!editable()" />
          </ion-item>
        }
        <ion-item>
          <ion-input [label]='eNoteLabel' #endnote [ngModel]='wertung.noteE' type="number" readonly name="eEndnote" [disabled]="!editable()" />
        </ion-item>
        <ion-item>
          <ion-input label="Endnote" #endnote [ngModel]='wertung.endnote' type="number" readonly name="endnote" [disabled]="!editable()" />
        </ion-item>
        @if (editable()) {
          <ion-button size="large" expand="block" #btnValidate (click)='validate(wertungsform)' [disabled]="waiting || !wertungsform.valid" color="secondary">
          <ion-icon slot="start" name="acalculator-outline" />Endnote berechnen</ion-button>
        }
      </ion-list>
    }
    @if (exercices.length == 0) {
      <ion-list>
        @if (isDNoteUsed) {
          <app-wertung-avg-calc #dnote name="noteD" [waiting]="waiting" [valueTitle]="dNoteLabel" [fixed]="1" [(ngModel)]="dNote" [disabled]="!editable()" />
        }
        <app-wertung-avg-calc #enote name="noteE" [waiting]="waiting" [valueTitle]="eNoteLabel" [fixed]="3" [(ngModel)]="eNote" [disabled]="!editable()" />
        <ion-item>
          <ion-input label="Endnote" #endnote [ngModel]='wertung.endnote' type="number" readonly name="endnote" [disabled]="!editable()" />
        </ion-item>
        @if (editable()) {
          <ion-button size="large" expand="block" #btnValidate (click)='validate(wertungsform)' [disabled]="waiting || !wertungsform.valid" color="secondary">
          <ion-icon slot="start" name="calculator-outline" />Endnote berechnen</ion-button>
        }
      </ion-list>
    }
    <ion-list>
      @if (!wertungsform.valid && editable()) {
        <ion-item>
          Ungültige Eingabe. Die Werte müssen im Format ##.## (2-3 Nachkommastellen mit Dezimalpunkt) eingegeben werden.
        </ion-item>
      }
      @if (!editable()) {
        <ion-item>
          An diesem Gerät macht {{item.vorname + ' ' + item.name}} Pause. Es können keine Resultate erfasst werden.
        </ion-item>
      } @else {
        <ion-button size="large" expand="block" type="submit" #btnSaveNext [disabled]="waiting || !wertungsform.valid" color="success">
        <ion-icon slot="start" name="arrow-forward-circle-outline" />Speichern & Weiter</ion-button>
        <ion-button size="large" expand="block" [disabled]="waiting || !wertungsform.valid"  color="secondary" (click)='saveClose(wertungsform)'>
        <ion-icon slot="start" name="checkmark-circle" />Speichern</ion-button>
      }
    </ion-list>
    @if (nextItem) {
      <ion-list>
        @if (nextItem && nextItem.geschlecht==='Turner') {
          <ion-item-divider>Nächster Turner</ion-item-divider>
        }
        @if (nextItem && nextItem.geschlecht==='Turnerin') {
          <ion-item-divider>Nächste Turnerin</ion-item-divider>
        }
        @if (nextItem) {
          <ion-item-sliding #slidingAthletItem>
            <ion-item (click)='itemTapped(slidingAthletItem)'>
              <ion-toolbar>
                <ion-note slot="end"><div class="athlet">{{nextItem.vorname + ' ' + nextItem.name}}</div><div class="riege">{{nextItem.wertung.riege}}</div></ion-note>
              </ion-toolbar>
              <ion-icon slot="end" name="arrow-forward-circle-outline" />
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="primary" (click)="next(wertungsform, slidingAthletItem)">
                <ion-icon name="arrow-forward-circle-outline" ios="md-arrow-forward-circle-outline" />
                {{nextItem.vorname + ' ' + nextItem.name}}
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    }
  </form>
</ion-content>
