ion-card {
  margin: auto;
  position: relative;
  color: var(--ion-card-color);
  background-color: var(--ion-card-background-color);

  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px -2px var(--ion-card-shadow-color1), 
                      0 2px 2px 0 var(--ion-card-shadow-color2), 
                      0 1px 5px 0 var(--ion-card-shadow-color3);
  box-shadow:         0 3px 1px -2px var(--ion-card-shadow-color1), 
                      0 2px 2px 0 var(--ion-card-shadow-color2), 
                      0 1px 5px 0 var(--ion-card-shadow-color3);  
}