ion-card {
  margin: auto;
  position: relative;
  color: var(--ion-card-color);
  background-color: var(--ion-card-background-color);
  
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px -2px var(--ion-card-shadow-color1), 
                      0 2px 2px 0 var(--ion-card-shadow-color2), 
                      0 1px 5px 0 var(--ion-card-shadow-color3);
  box-shadow:         0 3px 1px -2px var(--ion-card-shadow-color1), 
                      0 2px 2px 0 var(--ion-card-shadow-color2), 
                      0 1px 5px 0 var(--ion-card-shadow-color3);  
}

ion-icon {
  color: var(--ion-card-color);
  font-size: 50px;
  border-color: var(--ion-item-border-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
 }

 .fixedheight {
  word-wrap: normal;
  position: relative;
  left: 52px;
}

.img-wrapper {
  position: absolute;
  left: -0px;
  top: 4px;

}

.rightbound {
  float: right;
}

.nonwrapping {
  width : 100%;
  display:inline-block;
  white-space: nowrap;
}