<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"texts.Settings" | translate}}</ion-title>
    <ion-buttons end>
      <!-- <ion-note>{{loggedInText() | async}}</ion-note> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input #issuerName [(ngModel)]="username" [disabled]="loggedIn() | async"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Passwort</ion-label>
    <ion-input type="password" #issuerpassword [(ngModel)]="password" [disabled]="loggedIn() | async"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button large block icon-left color="secondary" (click)="logIn(issuerName.value, issuerpassword.value)">
      <ion-icon name="log-in"></ion-icon>Login</button>
    <!-- <button *ngIf="(loggedIn() | async)" ion-button large block icon-left (click)="logOut()">
      <ion-icon name="log-out"></ion-icon>Logout</button> -->
    <!-- <button ion-button ion-stop icon-left large item-right color="danger" (click)="logOut()" [disabled]="stopped()">
      <ion-icon name="square"></ion-icon>
      <div>Stop</div>
    </button> -->
  </ion-item>

  <!-- <ion-card *ngIf="lastMessages">
    <ion-item>
      <h2>Last connection state-changes</h2>
    </ion-item>
    <hr>
    <p *ngFor="let msg of lastMessages">{{msg}}</p>
  </ion-card> -->
</ion-content>