<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <ion-note>Logged In: {{loggedIn()}}</ion-note>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input #issuerName [(ngModel)]="username" [disabled]="loggedIn()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Passwort</ion-label>
    <ion-input type="password" #issuerpassword [(ngModel)]="password" [disabled]="loggedIn()"></ion-input>
  </ion-item>
  <ion-item>
    <button [disabled]="loggedIn()" ion-button large block icon-left color="secondary" (click)="logIn(issuerName.value, issuerpassword.value)">
      <ion-icon name="log-in"></ion-icon>Login</button>
    <button [disabled]="!loggedIn()" ion-button large block icon-left (click)="logOut()">
      <ion-icon name="log-out"></ion-icon>Logout</button>
  </ion-item>

  <!-- <ion-card *ngIf="lastMessages">
    <ion-item>
      <h2>Last connection state-changes</h2>
    </ion-item>
    <hr>
    <p *ngFor="let msg of lastMessages">{{msg}}</p>
  </ion-card> -->
</ion-content>