/target/
/.cache
/classes/
/.*
*.exe

/lib/
/maven-eclipse.xml
/scratchpad.sc
/kutuapp.conf
/journal
.cache-main
.cache-tests
*.iml
*.sqlite-wal
*.sql.log
*.sqlite-shm
*.zip
*.log
*travis*.json
jpack.sh
deploy-aws.sh
aws-policy.txt
.at.*
/jdk
/jdk11
/data
/javapackager