target/
/.cache
/classes/
/.*
*.exe
*.gz
*.iml
*.sqlite
*.sqlite-wal
*.sql.log
*.sqlite-shm

/lib/
/maven-eclipse.xml
/scratchpad.sc
/kutuapp.conf
/journal
/docker/*.jar
scratch.*
.cache-main
.cache-tests
*.iml
*.zip
*.log
*.code-workspace
.classpath
.project
/project/project
/project/target
/project/.bloop
/project/metals.sbt
*travis*.json
jpack.sh
deploy-aws.sh
aws-policy.txt
.at.*
/jdk
/jdk*
/data
/javapackager
docker/libs
/WiX/
/newclient/test/
*.hprof
/docs/new-competitions/
/loadtestresults/
