<ion-item (click)="selected ? selected.emit(teilnehmer()) : {}">
  @if (teilnehmer().Athlet) {
    <ion-avatar slot="start">
      <img src="assets/imgs/athlete.png">
    </ion-avatar>
  }
  @if (teamTeilnehmerSubResults.length > 0) {
    <ion-avatar slot="start">
      <img src="assets/imgs/verein.png">
    </ion-avatar>
  }
  @if (teamTeilnehmerSubResults.length > 0) {
    <ion-label>{{teilnehmer().Rang}}. {{teilnehmer()['Team/Athlet']}}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><em>{{teilnehmerSubResults}}</em></small><br>
      <ul>
        @for (tn of teamTeilnehmerSubResults; track tn) {
          <li><small><em>{{tn}}</em></small></li>
        }
      </ul>
    </ion-label>
  }
  @if (teilnehmer().Athlet) {
    <ion-label>{{teilnehmer().Rang}}. {{teilnehmer().Athlet}} ({{teilnehmer().Jahrgang}})&nbsp;<small> - {{teilnehmer().Verein}}</small><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><em>{{teilnehmerSubResults}}</em></small>
  </ion-label>
}
<ion-note slot="end" >
  <b>Total Punkte {{teilnehmer()['Total Punkte']}}</b><br>
  @if (teilnehmer()['ø Gerät']) {
    <em>ø Gerät {{teilnehmer()['ø Gerät']}}</em>
  }
  @if (teilnehmer()['Total D']) {
    <em>Total D/E {{teilnehmer()['Total D']}}/{{teilnehmer()['Total E']}}</em>
  }
  @if (teilnehmer()['Total A']) {
    <em>Total A/B {{teilnehmer()['Total A']}}/{{teilnehmer()['Total B']}}</em>
  }
</ion-note>
</ion-item>
