<ion-item (click)="selected ? selected.emit(teilnehmer) : {}">
  <ion-avatar slot="start">
    <img src="assets/imgs/athlete.png">
  </ion-avatar>
  <ion-label>{{teilnehmer.Rang}}. {{teilnehmer.Athlet}} ({{teilnehmer.Jahrgang}})&nbsp;<small> - {{teilnehmer.Verein}}</small><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><em>{{teilnehmerSubResults}}</em></small>
  </ion-label>
  <ion-note slot="end" >
    Total Punkte {{teilnehmer['Total Punkte']}}<br>
    <b>ø Gerät {{teilnehmer['ø Gerät']}}</b>
  </ion-note>
</ion-item>