<ion-item (click)="selected ? selected.emit(teilnehmer) : {}">
  <ion-avatar slot="start">
    <img src="assets/imgs/athlete.png">
  </ion-avatar>
  <!--  "Rang": string,
  "Athlet": string,
  "Jahrgang": string,
  "Verein": string,
  "ø Gerät": string,
  "Total Punkte": string-->
  <ion-label>{{teilnehmer.Rang}}. {{teilnehmer.Athlet}} ({{teilnehmer.Jahrgang}})&nbsp;<small> - {{teilnehmer.Verein}}</small><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><em>{{teilnehmerSubResults}}</em></small>
  </ion-label>
  <ion-note slot="end" >
    Total Punkte {{teilnehmer['Total Punkte']}}<br>
    <b>ø Gerät {{teilnehmer['ø Gerät']}}</b>
  </ion-note>
</ion-item>