:root {
  --ion-color-primary: #ffa238;
  --ion-color-primary-rgb: 255,162,56;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-shade: #e08f31;
  --ion-color-primary-tint: #ffab4c;

  --ion-color-secondary: #7dc0ff;
  --ion-color-secondary-rgb: 125,192,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-shade: #6ea9e0;
  --ion-color-secondary-tint: #8ac6ff;

  --ion-color-tertiary: #421804;
  --ion-color-tertiary-rgb: 66,24,4;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #3a1504;
  --ion-color-tertiary-tint: #552f1d;

  --ion-color-success: #0eb651;
  --ion-color-success-rgb: 14,182,81;
  --ion-color-success-contrast: #000000;
  --ion-color-success-shade: #0ca047;
  --ion-color-success-tint: #26bd62;

  --ion-color-warning: #ff7b00;
  --ion-color-warning-rgb: 255,123,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-shade: #e06c00;
  --ion-color-warning-tint: #ff881a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240,65,65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #03163d;
  --ion-color-dark-rgb: 3,22,61;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-shade: #031336;
  --ion-color-dark-tint: #1c2d50;

  --ion-color-medium: #8092dd;
  --ion-color-medium-rgb: 128,146,221;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-shade: #7180c2;
  --ion-color-medium-tint: #8d9de0;

  --ion-color-light: #fffdf5;
  --ion-color-light-rgb: 255,253,245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-shade: #e0dfd8;
  --ion-color-light-tint: #fffdf6;
}
