<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Wertungsrichter-Link</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Schliessen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div style="text-align:center">
    <img *ngIf="qrUrl" [src]="qrUrl" style="max-width:300px" />
    <p style="word-break:break-all; font-size:0.85em; margin-top:16px">{{ link }}</p>
    <ion-button fill="outline" (click)="copyLink()">
      <ion-icon name="copy-outline" slot="start"></ion-icon>
      Link kopieren
    </ion-button>
  </div>
</ion-content>
