.riege {
  font-size: small;
  padding-right: 16px;
  color: var(--ion-color-medium);
}
.athlet {
  font-size: larger;
  padding-right: 16px;
  font-weight: bolder;
  color: var(--ion-color-primary);
}
