<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{geraetName()}}</ion-title>
    <ion-note slot="end"><div class="athlet">{{item.vorname + ' ' + item.name}}</div><div class="riege">{{wertung.riege}}</div></ion-note>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #wertungsform="ngForm" (ngSubmit)="saveNext(wertungsform)" (keyup.enter)="saveNext(wertungsform)">
    <ion-list>
      <ion-item [hidden]="!isDNoteUsed">
        <ion-label>D-Note</ion-label>
        <ion-input autofocus #dnote placeholder="Notenwert im Format ##.## (2-3 Nachkommastellen mit Dezimalpunkt)"
          [readonly]='!editable()' type="number" [disabled]="waiting" [ngModel]='wertung.noteD' name="noteD"
          step="0.01" min="0" max="100"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>E-Note</ion-label>
        <ion-input autofocus #enote placeholder="Notenwert im Format ##.## (2-3 Nachkommastellen mit Dezimalpunkt)"
          [readonly]='!editable()' type="number"  [disabled]="waiting" [ngModel]='wertung.noteE' name="noteE"
          step="0.01" min="0" max="100" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Endnote</ion-label>
        <ion-input #endnote [ngModel]='wertung.endnote' type="number" readonly name="endnote"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngIf="!wertungsform.valid">
        Ungültige Eingabe. Die Werte müssen im Format ##.## (2-3 Nachkommastellen mit Dezimalpunkt) eingegeben werden.
      </ion-item>
      <ion-button size="large" expand="block" type="submit" #btnSaveNext *ngIf='editable()' [disabled]="waiting || !wertungsform.valid" color="success">
        <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>Speichern & Weiter</ion-button>
      <ion-button size="large" expand="block" *ngIf='editable()' [disabled]="waiting || !wertungsform.valid"  color="secondary" (click)='saveClose(wertungsform)'>
        <ion-icon slot="start" name="checkmark-circle"></ion-icon>Speichern</ion-button>
    </ion-list>
  </form>

</ion-content>
