<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    @if (!isLoggedIn()) {
      <div>
        <ion-title>Resultate</ion-title>
      </div>
    }
    @if (isLoggedIn()) {
      <div>
        <ion-title>Resultaterfassung<div class="stateinfo" [ngClass]='durchgangstateClass'>{{durchgangstate()}}</div></ion-title>
      </div>
    }
    <ion-note slot="end" class="ion-padding-end" [innerHtml]="competitionName()" />
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (geraet && durchgang && step && (getWertungen() | async)) {
    <riege-list [items] = 'getWertungen() | async' />
  }
</ion-content>


<ion-footer >
  <ion-toolbar>
    <ion-list>

      <ion-item-sliding #slidingStepItem>
        <ion-item (click)='itemTapped(slidingStepItem)'>
          <ion-icon slot="start" src="assets/imgs/{{gearImage}}" />
          <ion-label>{{station}}</ion-label>
          @if ((geraet && getSteps())) {
            <ion-icon slot="end" name="arrow-forward-circle-outline" />
          }
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="prevStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
            <ion-icon src="assets/imgs/{{previousGearImage}}" />
            {{prevStepCaption}}
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="nextStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
            <ion-icon src="assets/imgs/{{nextGearImage}}" />
            {{nextStepCaption}}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      @if (isLoggedIn() && durchgangopen) {
        <ion-button size="large" expand="block" color="success"
          (click)="finish()" [disabled]="!(geraet && getSteps())">
          <ion-icon slot="start" name="git-commit" />
          Eingaben abschliessen
        </ion-button>
      }
    </ion-list>
  </ion-toolbar>

</ion-footer>
