<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Schliessen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div style="text-align:center">
    <p>{{ description }}</p>
    @if (qrUrl) {
      <img [src]="qrUrl" style="max-width:300px" />
    }
    <p style="word-break:break-all; font-size:0.70em; margin-top:12px"><a href="{{ link }}" target="_blank">{{ link }}</a></p>
    <ion-button fill="outline" (click)="copyLink()">
      <ion-icon name="copy-outline" slot="start"></ion-icon>
      Link kopieren
    </ion-button>
  </div>
</ion-content>
