<ion-item (click)="selected ? selected.emit(judgeregistration()) : {}">
  <ion-avatar slot="start">
    <img src="assets/imgs/chief.png">
  </ion-avatar>
  <ion-label>{{judgeregistration().name}}, {{judgeregistration().vorname}} ({{judgeregistration().geschlecht}})<br>
    <small>{{judgeregistration().mobilephone}}, {{judgeregistration().mail}}</small>
  </ion-label>
  @if (judgeregistration().comment) {
    <ion-note slot="end">
      @for (cmt of getCommentLines(); track cmt) {
        <span>{{cmt}}<br></span>
      }
    </ion-note>
  }
</ion-item>
