<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div *ngIf="!isLoggedIn()">
      <ion-title>Resultate</ion-title>
    </div>
    <div *ngIf="isLoggedIn()">
      <ion-title>Resultaterfassung<div class="stateinfo" [ngClass]='durchgangstateClass'>{{durchgangstate()}}</div></ion-title>
    </div>
    <ion-note slot="end" class="ion-padding-end" [innerHtml]="competitionName()">
    </ion-note>
  </ion-toolbar>
</ion-header>

<ion-content>
   <riege-list *ngIf="geraet && durchgang && step && (getWertungen() | async)" [items] = 'getWertungen() | async'></riege-list>
</ion-content>


<ion-footer >
    <ion-toolbar>
        <ion-list>

          <ion-item-sliding #slidingStepItem>
              <ion-item (click)='itemTapped(slidingStepItem)'>                
                <ion-label>{{station}}</ion-label>
                <ion-note slot="end" *ngIf="getSteps() && getSteps().length > 0">({{getSteps()[0]}} bis {{getSteps()[getSteps().length-1]}})</ion-note>
                <ion-icon slot="end" *ngIf="(geraet && getSteps())" name="arrow-forward-circle-outline"></ion-icon>
              </ion-item>
                  <ion-item-options side="start">
                  <ion-item-option color="primary" (click)="prevStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon>
                    {{prevStepCaption}}
                  </ion-item-option>
                </ion-item-options>
                <ion-item-options side="end">
                  <ion-item-option color="primary" (click)="nextStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
                    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                    {{nextStepCaption}}
                  </ion-item-option>
                </ion-item-options>          
          </ion-item-sliding>
          <ion-button size="large" expand="block" *ngIf="isLoggedIn() && durchgangopen" color="success"
                      (click)="finish()" [disabled]="!(geraet && getSteps())">
            <ion-icon slot="start" name="git-commit"></ion-icon>
            Eingaben abschliessen
          </ion-button>          
    </ion-list>      
    </ion-toolbar>
  
</ion-footer>
