<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div *ngIf="!isLoggedIn()">
      <ion-title>Resultate</ion-title>
    </div>
    <div *ngIf="isLoggedIn()">
      <ion-title>Resultaterfassung<div class="stateinfo" [ngClass]='durchgangstateClass'>{{durchgangstate()}}</div></ion-title>
    </div>
    <ion-note slot="end" class="ion-padding-end" [innerHtml]="competitionName()">
    </ion-note>
  </ion-toolbar>
</ion-header>

<ion-content>
  <riege-list *ngIf="geraet && durchgang && step && getWertungen()" [items] = 'getWertungen()'></riege-list>
</ion-content>


<ion-footer >
    <ion-toolbar>
        <ion-list>

          <ion-item-sliding #slidingStepItem>
              <ion-item >
                <ion-icon slot="start" name="arrow-dropleft"></ion-icon>
                <ion-note slot="end">(1 bis {{getSteps().length}})</ion-note>
                <ion-label>{{station}}</ion-label>
                <ion-icon slot="end" name="arrow-dropright"></ion-icon>
              </ion-item>
                  <ion-item-options side="start">
                  <button ion-button color="secondary" (click)="prevStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
                    <ion-icon name="arrow-dropleft-circle" ios="md-arrow-dropleft-circle"></ion-icon>
                    {{prevStepCaption}}
                  </button>
                </ion-item-options>
                <ion-item-options side="end">
                  <button ion-button color="secondary" (click)="nextStep(slidingStepItem)" [disabled]="!geraet || !getSteps()">
                    <ion-icon name="arrow-dropright-circle" ios="md-arrow-dropright-circle"></ion-icon>
                    {{nextStepCaption}}
                  </button>
                </ion-item-options>          
          </ion-item-sliding>
          <ion-button size="large" expand="block" *ngIf="isLoggedIn() && durchgangopen" color="success"
                      (click)="finish()" [disabled]="!(geraet && getSteps())">
            <ion-icon slot="start" name="git-commit"></ion-icon>
            Eingaben abschliessen
          </ion-button>          
    </ion-list>      
    </ion-toolbar>
  
</ion-footer>
