/Roland.Seidel.crt
/Roland.Seidel.jks
/Script.sql
/kutuapp.sharevic.net.crt
/kutuapp.sharevic.net.csr
/kutuapp.sharevic.net.jks
/mws-01.crt
/mws-01.csr
/mws-01.jks
/setupKuTuWKApp-sqllite.iss
/sample-config-mws/
/sample-config-pluto/
/createCerts.sh
