<!--
  Generated template for the WertungEditorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      {{geraetName()}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #wertungsform="ngForm">
    <ion-list>
      <ion-item>
          <ion-title>{{item.vorname + ' ' + item.name}}</ion-title>
          <ion-note item-end>{{wertung.riege}}</ion-note>
      </ion-item>
      <ion-item [hidden]="!isDNoteUsed">
        <ion-label>D-Note</ion-label>
        <ion-input autofocus #dnote [readonly]='!editable()' type="number" [disabled]="waiting" [(ngModel)]='wertung.noteD' name="noteD"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>E-Note</ion-label>
        <ion-input autofocus #enote [readonly]='!editable()' type="number"  [disabled]="waiting" [(ngModel)]='wertung.noteE' name="noteE"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Endnote</ion-label>
        <ion-input [value]='wertung.endnote' readonly></ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-list>
          <button *ngIf='editable()' [disabled]="waiting" ion-button large block icon-left color="secondary" (click)='saveClose(wertung)'>
            <ion-icon name="checkmark-circle"></ion-icon>Speichern</button>
          <button #btnSaveNext *ngIf='editable()' [disabled]="waiting" ion-button large block icon-left color="favorite" (click)='saveNext(wertung)' >
            <ion-icon name="arrow-dropright-circle"></ion-icon>Speichern & Weiter</button>
        </ion-list>
  </ion-toolbar>
</ion-footer>
