@if (items() && items().length > 0) {
  <ion-list>
    @for (w of items(); track w) {
      <ion-item (click)="itemTapped($event, w)">
        <ion-avatar slot="start">
          <img src="assets/imgs/athlete.png">
        </ion-avatar>
        <ion-label>{{w.vorname + ' ' + w.name}} <small>{{' (' + w.wertung.riege + ')'}}</small></ion-label>
        @if (w.wertung.endnote !== undefined) {
          <ion-note slot="end" class="result-value">
            {{w.wertung.endnote | number:'2.3-3'}}
          </ion-note>
        }
        @if (w.wertung.endnote === undefined) {
          <ion-note slot="end" class="result-no-value">Kein Resultat</ion-note>
        }
      </ion-item>
    }
  </ion-list>
}
