<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" />
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Wettkampf App - <small>Auswahl</small></ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Search" showCancelButton="never"
    [(ngModel)]="sMyQuery"
    (ionInput)="reloadList($event)"
    (ionCancel)="reloadList($event)" />
</ion-header>

<ion-content>
  <ion-list *ngIf="sFilteredWettkampfList && sFilteredWettkampfList.length > 0">
    <ion-item *ngFor='let w of sFilteredWettkampfList' (click)="itemTapped($event, w)">
      <ion-avatar slot="start">
        <img src="assets/imgs/wettkampf.png">
      </ion-avatar>
      <ion-label>{{w.datum | date:'dd-MM-yyyy'}}&nbsp;{{w.titel}}<br><small>{{getDetails(w)}}</small></ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
